@model IEnumerable<JobOffers.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">-->
    <div class="jumbotron" style="height:250px;">
    <h2>JobOffers</h2>
    <p>Welcome to JobOffers. This site provides you with many opportunities and opportunities to work while you are at home.</p>
    <p><a class="btn btn-primary btn-lg" href="http://asp.net" >Learn more &raquo;</a></p>
</div>
@foreach (var item in Model)
{
    <div class="panel panel-default" style="padding-left:15px;padding-right:15px;">
        <h1 class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</h1>
        <h5>@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>

        <div class="row">
            @foreach (var subItem in item.Jobs)
            {

                <div class="col-md-3 thumbnail" style="margin-left :20px; margin-bottom:30px;width:265px; height:380px;">
                    <img src="~/Uploads/@subItem.JobImage"  />
                    <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => subItem.JobContent)</h5>
                    @Html.ActionLink("Details", "Details", new { JobId = subItem.Id }, new { @class = "btn btn-primary" }) 
                </div>
            }
        </div>
    </div>
}
