@model JobOffers.Models.Job

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout1.cshtml";
}

<h2>Create Job</h2>

@using (Html.BeginForm("Create","Jobs",FormMethod.Post,new {enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="alert alert-danger" id="error-div" style="display:none;">
            <span id="view-err">

            </span>
        </div>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JobImage)
        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload" id="myImage" />
                @Html.ValidationMessageFor(model => model.JobImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "JobType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="padding-bottom :27px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" id="save" /><br />
                @Html.ActionLink("Back", "Index")
            </div>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function(){
        $("#save").click(function () {
            //check if the input is Empty
            if ($("#myImage").val() == "") {
                $("#error-div").fadeIn();
                $("#view-err").append("Please choose a picture for the job");
                return false;
            }
            //check if the image extension is valid
            if ($("#myImage").val() != "") {
                var filename = document.getElementById("myImage").value;
                var extensionImg = filename.substr(filename.lastIndexOf('.') + 1);
                var validExtensions = ['jpg', 'png', 'gif', 'bmp','jfif'];
                if ($.inArray(extensionImg, validExtensions) == -1) {
                    $("#error-div").fadeIn();
                    $("#view-err").append("Please choose a correct image extension 'jpg', 'png', 'gif', 'bmp' ");
                    return false;
                }
                //chek if the image size  is valid (2Mb)
                var myFileSize = document.getElementById("myImage").files[0].size / 1024 / 1024;
                if(myFileSize > 1){
                     $("#error-div").fadeIn();
                     $("#view-err").append("Please choose an image less than 2mb");
                     return false;
                }
            }

        });
    });
</script>